.the-uxml-listview {
    /* Provide the list view with an explicit height for every row
    so it can calculate how many items to actually display */
    --unity-item-height: 16;
    height: 200px;
}

.spline-editor {
    --unity-item-height: 16;
}

.spline-editor__nodes {
    height: 150px;
}

.spline-editor__edges {
    height: 150px;
}